body {
  /*<a href="https://www.freepik.com/free-vector/vector-overlap-layer-poster-cover-modern-color_17303377.htm#query=dark%20gray%20tech%20background&position=0&from_view=search&track=ais">Image by masadepan</a> on Freepik*/
  background: url(tech.jpg) no-repeat center center fixed ;
  background-size: cover;
  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  background: cover;
  z-index: 1;
}